# Ήρθε η ώρα να μάθετε το `.apply` για να κάνετε κάτι σε κάθε γραμμή του dataframe!

In [9]:
import pandas as pd

### Ας φέρουμε ένα αρχείο..

In [10]:
boros_df = pd.read_csv("boros.csv")
boros_df

     borough  cats  population
0  Manhattan   107        1400
1   Brooklyn   205        3412
2      Bronx    33         323

In [11]:
boros_df.dtypes

borough       object
cats           int64
population     int64
dtype: object

In [12]:
boros_df['freq'] = boros_df['cats'] / boros_df['population']

In [18]:
boros_df

     borough  cats  population      freq
0  Manhattan   107        1400  0.076429
1   Brooklyn   205        3412  0.060082
2      Bronx    33         323  0.102167

In [24]:
def lowhigh(row):
    if (row['freq'] > 0.1):
        result = 'High'
    else:
        result = 'Low'   
    return(result)

In [25]:
boros_df['lowhigh'] = boros_df.apply(lowhigh, axis = 1)

In [26]:
boros_df

     borough  cats  population      freq lowhigh
0  Manhattan   107        1400  0.076429     Low
1   Brooklyn   205        3412  0.060082     Low
2      Bronx    33         323  0.102167    High

In [14]:
boros_df['lowhigh'] = if (boros_df['freq'] > 0.1) : 'High' else: 'Low'

SyntaxError: invalid syntax (<ipython-input-14-4f800a44d824>, line 1)

In [5]:
def cats_freq(row):
    if (row['cats']/row['population'] > 0.1):
        return('High')
    else:
        return('Low')

## Και να γράψουμε κάτι που θέλουμε να γίνει σε κάθε γραμμή...

### Ουσιαστικά πρόκεται για loops μέσα στα pandas

In [3]:
# Αυτό είναι ένα FUNCTION.
# Του δίνουμε κάτι(σε αυτή την περίπτωση μια γραμμή)
# Και μας επιστρέφει κάτι πίσω με το "return"
def cats_per_capita(row):
    cat_count = row['cats']
    people_count = row['population']
    result = cat_count / people_count
    return result

boros_df.apply(cats_per_capita, axis=1)

0    0.076429
1    0.060082
2    0.102167
dtype: float64

## Ας σώσουμε αυτά τα αποτελέσματα στο dataframe

In [4]:
boros_df['cats_per_capita'] = boros_df.apply(cats_per_capita, axis=1)
boros_df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

# What about multiple rows?

In [5]:
def cat_data(row):
    cat_ratio = row['cats'] / row['population']
    if cat_ratio > 0.1:
        amount = "lots"
    else:
        amount = "few"
    # Αντί να επιστρέψει έναν αριθμό,
    # επιστρέφει (return) μία στήλη στο dataframe
    return pd.Series({
        'ratio': cat_ratio,
        'amount': amount
    })

boros_df.apply(cat_data, axis=1)

      ratio amount
0  0.076429    few
1  0.060082    few
2  0.102167   lots

## Ένωση των καινούριων γραμμών στο αρχικό dataframe

In [6]:
# Με το join τα βάζουμε μαζί στο ίδιο dataframe
boros_df.apply(cat_data, axis=1).join(boros_df)

      ratio amount    borough  cats  population  cats_per_capita
0  0.076429    few  Manhattan   107        1400         0.076429
1  0.060082    few   Brooklyn   205        3412         0.060082
2  0.102167   lots      Bronx    33         323         0.102167

## Σώζουμε το αποτέλεσμα

In [7]:
# Μην ξεχνάτε ότι πρέπει να σώσετε την καινούρια εκδοχή του αρχείου σας! 
# Το .join δεν τα σώζει αυτόματα στο boros_df
merged = boros_df.apply(cat_data, axis=1).join(boros_df)
merged.head()

      ratio amount    borough  cats  population  cats_per_capita
0  0.076429    few  Manhattan   107        1400         0.076429
1  0.060082    few   Brooklyn   205        3412         0.060082
2  0.102167   lots      Bronx    33         323         0.102167